body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #953553;
    color: #222;
}

header {
    background: #953553; /* MTA blue */
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    max-width: 900px;
    margin: 20px auto;
    background: white;
    padding: 20px 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1, h2 {
    margin-top: 0;
}

section {
    margin-bottom: 20px;
}

a {
    color: #0039a6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    font-size: 0.9em;
    color: #555;
    margin: 20px 0 30px;
}

.logo {
    max-width: 200px;
    display: block;
    margin: 10px 0;
}
